#TestingProfileImage {
    height: 48%;
    width: 48%;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  width: 500px;
  height: 500px;
}

.gridElement {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 600px) {
  #TestingProfileImage {
    height: 25%;
    width: 25%;
  }
  
  #Djikstra {
    display: none;
  }
}