#TestingProfileImage {
    height: 70%;
    width: 70%;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.header, .section {
  padding: 100px;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  width: 500px;
  height: 500px;
}

.gridElement {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 600px) {
  #Djikstra {
    display: none;
  }
}