#TestingProfileImage {
    height: 100%;
    width: 100%;
} 

body {
  padding: 100px;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  width: 500px;
  height: 500px;
}

.gridElement {
  width: 20px;
  height: 20px;
}

p {
  line-height: 1.5;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  body {
    padding: 20px;
  }
  
  #Djikstra {
    display: none;
  }
}